/* FLY IN TEXT ANIMATION*/

section {
  position: relative;
  padding-bottom: 20px;

}
.fly-in-text:after {
  display: block;
  content: " ";
  clear: both;
}
.emptySection:before {
  display: block;
  content: " ";
  clear: both;
}
.emptySection {
  display: block;
  margin-top: 50px;
}
.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
  display: inline-block;
  color: #000;
  opacity: 1;
  transition: all 2.5s ease;
  margin-right: 10px;
  font-family: Open Sans, Arial;
  font-weight: 300;
  font-size: 2em;
}
.fly-in-text li:last-child {
  margin-right: 0;
}
.fly-in-text.hidden li {
  opacity: 0;
}
.fly-in-text.hidden li:nth-child(1){
  transform: translateX(-200px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(2){
  transform: translateX(-20px) translateY(-100px);
}
.fly-in-text.hidden li:nth-child(3){
  transform: translateX(-150px) translateY(-80px);
}
.fly-in-text.hidden li:nth-child(4){
  transform: translateX(10px) translateY(-200px);
}
.fly-in-text.hidden li:nth-child(5){
  transform: translateX(-300px) translateY(200px);
}
.fly-in-text.hidden li:nth-child(6){
  transform: translateX(20px) translateY(-20px);
}
.fly-in-text.hidden li:nth-child(7){
  transform: translateX(30px) translateY(200px);
}


/*FLY IN TEXT END*/

section{
  margin: 20px auto 20px auto;
}


.middleSection {
  display: flex;
  justify-content: center;
}
.boxAnimate{
  position: relative;
  padding-top: 50px;
  margin:auto;
  width: 200px;
  height: 200px;
  background-color: #002bcc;
  animation: boxAnimation 2s linear infinite;
}
@keyframes boxAnimation {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* 3D FLIP */
.flip3D{
  width: 200px;
  height: 200px;
  margin: 10px;
}
.flip3D > .front {
  position: absolute;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  -o-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  background: #fc0;
  width: 200px;
  height: 200px;
  border-radius: 7px;
  backface-visibility: hidden;
  -webkit-transition: transform .5s linear 0s;
  -ms-transition: transform .5s linear 0s;
  -moz-transition: transform .5s linear 0s;
  -o-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.flip3D > .back {
  position: absolute;
  -webkit-transform: perspective(500px) rotateY(180deg);
  -ms-transform: perspective(500px) rotateY(180deg);
  -moz-transform: perspective(500px) rotateY(180deg);
  -o-transform: perspective(500px) rotateY(180deg);
  transform: perspective(500px) rotateY(180deg);
  background: #fc0;
  width: 200px;
  height: 200px;
  border-radius: 7px;
  color: white;
  backface-visibility: hidden;
  -webkit-transition: transform .5s linear 0s;
  -ms-transition: transform .5s linear 0s;
  -moz-transition: transform .5s linear 0s;
  -o-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.flip3D:hover > .front {
  transform: perspective(500px) rotateY(-180deg);
}
.flip3D:hover > .back {
  transform: perspective(500px) rotateY(0deg);
}
/* 3D FLIP END*/

/* CLOCK ANIMATION*/
.section {
  height: 800px;
  margin-bottom: 50px;
  background-color: #000;
  overflow: hidden;
  font-family: 'Titillium Web', Calibri, sans-serif;
}
h1.clock-heading {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  margin-top: 100px;
  opacity: 1;
  transform: translate3d(0,0,0);
  animation: clockHeadingAnimation 10s ease;
}
.clock-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 100px auto 0;
  transform: scale(1.4) translate3d(0, 100px, 0);
  animation: clockAnimation 10s ease;
}
.clock-wrapper .clock-img {
  position: absolute;
  width: 100%;
  height: auto;
}
.clock-wrapper .clock-img.hours {
  transform: rotate(120deg);
  animation: hoursAnimation 10s ease;
}
.clock-wrapper .clock-img.minutes {
  transform: rotate(1470deg);
  animation: minutesAnimation 10s ease;
}
.clock-wrapper .clock-img.seconds {
  transform: rotate(26610deg);
  animation: secondsAnimation 10s ease;
}

@keyframes clockHeadingAnimation {
  0% {opacity: 0; transform: translate3d(0, 100px, 0);}
  90% {opacity: 0; transform: translate3d(0, 100px, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes clockAnimation {
  0% {transform: scale(1) translate3d(0,0,0);}
  100% {transform: scale(1.4) translate3d(0,100px,0);}
}
@keyframes hoursAnimation {
  0% {transform: rotate(0);}
  100% {transform: rotate(120deg);}
}
@keyframes minutesAnimation {
  0% {transform: rotate(30deg);}
  100% {transform: rotate(1470deg);}
}
@keyframes secondsAnimation {
  0% {transform: rotate(210deg);}
  100% {transform: rotate(26610deg);}
}
/* CLOCK ANIMATION END */


/* BOOK FLIP ANIMATION */

.book-bg{
  position: relative;
  width: 200px;
  height: 324px;
  margin: 100px auto;
  background: url('img/page.jpg') no-repeat;
  background-size: cover;
  transform-style: preserve-3d;
  perspective: 500px;
}

.book-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('img/book.jpg') no-repeat;
  transform-origin: 0 50%;
  background-size: cover;
  transition: all 0.3s ease;
}

.book-bg:hover .book-cover {
  transform: rotateY(-60deg);
}

/* BOOK FLIP END*/

/* PARALLAX */
#content {
        padding: 50px;
        margin: 40px;
        background-color: rgba(255, 255, 255, .48);
        text-align: center;
    }
    #content p {
        font-family: Helvetica, sans-serif;
        font-size: 28px;
        line-height: 40px;
        color: #111;
    }
    h1 {
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: 40px;
        padding: 10px;
        margin: 40px;
        background-color: rgba(20, 20, 20, .8);
        color: #FFF;
    }

    #bigYellowCircle {
      background-image: url('https://www.kirupa.com/images/yellow_circle.svg');
      background-size: 90%;
      width: 100vw;
      height: 100vw;
      position: fixed;
      background-repeat: no-repeat;
      z-index: -10;
      background-position: center;
      top: 0;
      opacity: .75;
    }

    #blueSquare {
      background-image: url('https://www.kirupa.com/images/blue_square.svg');
      background-size: 10%;
      width: 100vw;
      height: 100vw;
      position: fixed;
      background-repeat: no-repeat;
      z-index: -20;
      background-position: 97% bottom;
      top: 0;
      opacity: .75;
    }
    #greenPentagon {
      background-image: url('https://www.kirupa.com/images/green_pentagon.svg');
      background-size: 50%;
      width: 100vw;
      height: 100vw;
      position: fixed;
      background-repeat: no-repeat;
      z-index: -30;
      background-position: 5% top;
      top: 0;
      opacity: .75;
    }
